<?php

namespace App\Http\Requests\V1\{{ class_name }}Request;

use Illuminate\Foundation\Http\FormRequest;

class Update{{ class_name }}Request extends FormRequest
{
    /**
     * Determine if the user is authorized to make this request.
     */
    public function authorize(): bool
    {
        return true;
    }

    /**
     * Get the validation rules that apply to the request.
     *
     * @return array<string, \Illuminate\Validation\Rule|array<mixed>|string>
     */
    public function rules(): array
    {
        $method = $this->method();

        if ($method == 'PUT') {
            return [
{{ rules_put }}
            ];
        } else {
            return [
{{ rules_patch }}
            ];
        }
    }
}
